<div class='text-center text-grey-dark text-2xl my-8 font-bold'>Log In</div>

<div class='flex justify-center'>
  <%=
    form_for :session, '/sessions', class: 'flex-col' do
      div do
        text_field :email, class: 'border shadow parent w-full text-grey-darker py-2 px-3 my-2', placeholder: 'Email'
      end

      div do
        text_field :password,type: 'password', class: 'border shadow parent w-full text-grey-darker py-2 px-3 my-2', placeholder: 'Password'
      end

      submit 'Log In', class: 'bg-grey hover:bg-grey-dark font-semibold text-sm text-white py-1 px-2 my-4 rounded'
    end
  %>
</div>

<%= 
	form_for :user, '/users/forgot_pass', class: 'mb-4 flex justify-center', method: 'GET' do
		submit 'Forgot password?', class: 'text-xs text-grey-dark'
	end
%>

<div class='flex flex-col'>
	<% unless flash[:login_error].nil? %>
		<div class='text-center text-red text-xs italic'><%= flash[:login_error] %></div>
	<% end %>
</div>

<%=
  form_for :signup, '/users/new', class: 'flex justify-center', method: 'GET' do
    submit 'Sign Up', class: 'bg-white font-semibold text-grey-dark hover:bg-grey-light text-sm rounded border-2 mt-4 py-1 px-2'
  end
%>
