<div class="p-6 mb-4 bg-white flex justify-center">
  <%=
    form_for :home, '/home/index', method: 'GET' do
      submit 'lists', class: 'font-semibold text-5xl text-grey-dark tracking-wide'
    end
  %>
</div>

<div class='text-center text-grey-dark text-2xl my-8 font-bold'>Forgot Password</div>
<div class='flex justify-center'>
	<%=
		form_for :user, '/users/send_recovery' , class: 'flex-col', method:'GET'  do
			div class: 'email-input' do
				text_field :email, class: 'border shadow parent w-full text-grey-darker py-2 px-3 my-2', placeholder: 'Email'      end

			submit 'Recover', class: 'bg-grey hover:bg-grey-dark font-semibold text-sm text-white py-1 px-2 my-4 rounded'
		end
	%>
</div>

<div class='flex flex-col'>
	<% unless flash[:error].nil? %>
		<div class='text-center text-red text-xs italic'><%= flash[:email] %></div>
	<% end %>
</div
			
