<div class='text-center text-grey-dark text-2xl my-8 font-bold'>Sign Up</div>

<div class='flex justify-center'>
	<%=
		form_for :user, '/users' , class: 'flex-col' do
			div class: 'email-input' do
				text_field :email, class: 'border shadow parent w-full text-grey-darker py-2 px-3 my-2', placeholder: 'Email'
			end

			div class: 'password-input' do
				text_field :password, type: 'password', class: 'border shadow parent w-full text-grey-darker py-2 px-3 my-2', placeholder: 'Password'
			end
	 
			div class: 'password-confirmation-input' do
				text_field :password_confirmation, type: 'password', class: 'border shadow parent w-full text-grey-darker py-2 px-3 my-2', placeholder: 'Confirm Password'
			end

			submit 'Sign Up', class: 'bg-grey hover:bg-grey-dark font-semibold text-sm text-white py-1 px-2 my-4 rounded'
		end
	%>
</div>

<div class='flex flex-col'>
	<% unless flash[:email].nil? %>
		<div class='text-center text-red text-xs italic'><%= flash[:email] %></div>
	<% end %>

	<% unless flash[:input_errors].nil? %>
		<% flash[:input_errors].each do |message| %>
			<div class='text-center text-red text-xs italic'><%= message %></div>
		<% end %>
	<% end %>
</div>

<%=
  form_for :login, '/sessions/new', class: 'flex justify-center', method: 'GET' do
    submit 'Log In', class: 'text-grey-dark hover:bg-grey-light text-sm rounded border-2 mt-4 py-1 px-2'
  end
%>
