<%= stylesheet 'application' %>
<%= stylesheet 'output' %>

<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>
    <%= favicon %>
  </head>
  <body>
    <div class="text-center p-6 mb-4 bg-grey-light">
      <div class="font-semibold text-5xl text-white tracking-wide">LISTS</div>
    </div>
      <%= yield %>
  </body>
</html>
